/* Стиль для контейнера навбара */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000; /* Черный фон */
    padding: 10px;
    /* width: 80%; */
    height: 30px; /* Высота навбара */
    border-radius: 40px; /* Закругленные края */
    margin: 0 auto; /* Центрирование навбара */
    position: fixed;
    left: 10%;
    right: 10%;
    bottom: 20px;
  }
  
  /* Стиль для каждого элемента навбара */
  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  /* Стиль для иконок */
  .navbar-icon {
    color: white;
    font-size: 40px; /* Размер иконок */
  }
  
  /* Для активации центральной иконки (если нужно) */
  .navbar-item.active .navbar-icon {
    font-size: 50px; /* Увеличиваем иконку, если она активна */
  }
  
  /* Для точки под центральной иконкой */
  .navbar-item.active::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }
  