/* Контейнер приложения */
.app-container {
  position: relative;
  background-color: #fff !important;
  color: #000 !important; /* Принудительно делаем текст черным */
}

/* Основное содержимое скрыто пока показывается сплэш-скрин */
.main-content.hidden {
  visibility: hidden;
  opacity: 0; /* Чтобы контент не мелькал */
  transition: opacity 0.5s ease-in-out; /* Плавное появление */
}

/* После сплэш-скрина */
.main-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

/* Для поддержки светлой темы, даже если включена темная тема */
@media (prefers-color-scheme: dark) {
  .app-container {
    background-color: #fff !important; /* Принудительно белый фон */
    color: #000 !important; /* Принудительно черный текст */
  }
}
