/* Контейнер приложения */
.app-container {
  position: relative;
  background-color: #fff!important;
}

/* Основное содержимое скрыто пока показывается сплэш-скрин */
.main-content.hidden {
  visibility: hidden;
  opacity: 0; /* Чтобы контент не мелькал */
  transition: opacity 0.5s ease-in-out; /* Плавное появление */
}

/* После сплэш-скрина */
.main-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}
